/* Footer.css */
.footer {
    background-color: #ededed;
    /*background-color: #10bf51;*/
    /*padding: 2px;*/
}

.container {
    display: flex;
    max-width: 1000px;

}
.footer-container {
    display: flex;
    /*justify-content: space-between; !* Canh đều các phần tử theo chiều ngang *!*/
}

.footer-container > div {
    flex: 1; /* Mỗi phần tử chiếm toàn bộ không gian còn lại */
    margin-right: 20px; /* Khoảng cách giữa các phần tử */
}

.footer-container > div:last-child {
    margin-right: 0; /* Không có khoảng cách bên phải của phần tử cuối cùng */
}


div p {
    color: #4f4e4e; /* Màu chữ xám */
    font-size: 13px;
}
.footer h5 {
    margin-top: 15px;
}

.image-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.image-list li {
    flex: 1;
    margin-right: 10px; /* Khoảng cách giữa các hình ảnh */
}

.image-list li:last-child {
    margin-right: 0; /* Loại bỏ khoảng cách bên phải của hình ảnh cuối cùng */
}

.image-list img {
    width: 100%;
    height: auto;
}

.logo-icon {
    margin-right: 5px;
    font-size: 18px;
}




