/* Header.css */
.header {
    background-color: #01953d;
    /*background-color: #10bf51;*/
    padding: 2px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 0 0px;*/
}




.logo img {
    height: 80px; /* Giảm chiều cao của logo */
    /*width: 300px; !* Giữ nguyên tỉ lệ chiều rộng *!*/
    /*margin: 20px;*/

}

.search {
    display: flex; /* Sử dụng flexbox */
    align-items: center; /* Căn chỉnh các phần tử theo trục dọc */
    background-color: #fff; /* Màu nền trắng */
    /*border-radius: 5px; !* Bo tròn viền *!*/
    /*margin: 20px;*/
}

.search input {
    /*padding: 100px 75px;*/
    /*border-radius: 5px;*/
    /*border: none;*/
    height: 20px;
    width: 500px;
    /*flex: 1; !* Cho ô input mở rộng để chiếm hết phần còn lại *!*/
}

.search input[type="text"] {
    padding: 10px; /* Khoảng cách padding của ô input */
    border: none; /* Xóa viền của ô input */
    margin: 1px;
}



.search-icon {
    width: 80px;
    height: 35px;
    font-size: 25px; /* Kích thước biểu tượng */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Màu chữ trắng */
    background-color: #01953d; /* Màu nền trắng với độ trong suốt là 50% */

    border: 5px solid white; /* Viền trắng xung quanh, solid: nét liền */
    /*border-radius: 5px; !* Bo tròn phần tử *!*/
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin-left: 20px;
}

.navigation ul li:first-child {
    margin-left: 0;
}

.navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navigation ul li a:hover {
    color: #ec0f0f;
}

.user-icon {
    width: 50px;
    height: 50px;
    font-size: 30px; /* Kích thước biểu tượng */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Màu chữ trắng */
    margin: 2px;

}

.user-icon {
    position: relative; /* Đảm bảo .dropdown được hiển thị đúng */
    /*display: inline-block;*/
}

.dropdown {
    display: none;
    position: absolute; /*danh sách sổ bên dưới*/
    /*top: 100%;*/
    top: calc(100% + 2px); /* Thêm khoảng cách giữa .user-icon và .dropdown */
    left: 10px;
    background-color: #fff;
    border: 1px solid #01953d;
    width: 100px;

}

.user-icon:hover .dropdown {
    display: block;
}

.dropdown ul {
    list-style-type: none; /* Loại bỏ dấu đầu dòng của danh sách */
    padding: 0; /* Loại bỏ phần padding mặc định */
    margin: 0; /* Loại bỏ phần margin mặc định */
}

.dropdown ul li {
    padding: 5px;
}

.dropdown ul li a {
    text-decoration: none; /* Loại bỏ đường gạch chân của liên kết */
    color: #000; /* Màu chữ */
    display: block; /* Đảm bảo liên kết chiếm toàn bộ chiều ngang của danh sách */
    width: 100%; /* Tô đầy chiều ngang của danh sách */
    font-size: 15px; /* Đặt kích thước font chữ mong muốn */
}

.dropdown ul li a:hover {
    background-color: #01953d; /* Màu nền khi di chuột qua */
    color: #fff; /* Đổi màu chữ khi di chuột qua */
}

.like-icon {
    width: 50px;
    height: 50px;
    font-size: 30px; /* Kích thước biểu tượng */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Màu chữ trắng */

}

.cart-icon {
    width: 50px;
    height: 50px;
    font-size: 30px; /* Kích thước biểu tượng */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Màu chữ trắng */

}